* {
	webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

html, body {
	margin: 0;
	padding: 0;
	overflow: hidden;
	height: 100%;
	text-align: center;
	background-color: #0F1119;

	perspective : 2000px;
	perspective-origin : 50% 50%;

	/*background: transparent url("http://eu.battle.net/hearthstone/static/images/body-content-bg.jpg") 50% 0 repeat-y;*/
}

.card {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 230px;
	height: 342px;

	width: 160px;
	height: 238px;
	z-index: 1;
	background-image: url('../media/card.png');
	background-size: 100% 100%;

	-webkit-transform-origin: 50% 50%;
	-moz-transform-origin: 50% 50%;
	-ms-transform-origin: 50% 50%;
	transform-origin: 50% 50%;

	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}
.card:after {
	content: '';
    background-image: url('../media/cardround.png');
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    width: 68px;
    height: 68px;
    border-radius: 100%;
    box-shadow: 0 0 2px rgb(255, 255, 255) inset, 0 0 5px rgb(255, 235, 0), 0 0 10px rgb(255, 129, 0);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    opacity: 0;
    -webkit-filter: saturate(1.6) brightness(150%);
    -moz-filter: saturate(1.6) brightness(150%);
    -ms-filter: saturate(1.6) brightness(150%);
    filter: saturate(1.6) brightness(150%);
    -webkit-animation: bright 1s infinite;
    -moz-animation: bright 1s infinite;
    animation: bright 1s infinite;
    -webkit-animation-direction: alternate-reverse;
    -moz-animation-direction: alternate-reverse;
    animation-direction: alternate-reverse;
}
.card:hover {
	cursor: pointer;
}

#star {
	display: none;
}

@-webkit-keyframes bright {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@-moz-keyframes bright {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@keyframes bright {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}